<% include ../partials/header %>

	<div class='container'>
		<div class='row'>
			<h1 style='text-align: center;'>Create a New Comment to <%=southpark.name%></h1>

				<div style='width: 30%; margin: 0 auto;'>
<form action='/southpark/<%=southpark._id%>/comments' method='POST'>
		<div class='form-group'>
		<input class='form-control' pye='text' name='comment[text]' placeholder='text'>
		</div>
		<div class='form-group'>
		<button class='btn btn-lg btn-primary btn-block'>Submit! </button>	
		</div>
</form>
				</div>
				
		</div>
	</div>
<% include ../partials/footer %>