
<!DOCTYPE html>
<html>
    <head>
        <title>South Park</title>
        
        <!-- <link rel="stylesheet" href="/stylesheets/landing.css"> -->
        <link rel="stylesheet" href="/stylesheets/landing.css">
        
    </head>
    <body>
    <!-- <header>
        <h2>wacKY's South Park</h2>
        <nav>
            <li><a href="">Tours</a></li>        
            <li><a href="">Contact</a></li>
            <li><a href="">About</a></li>    
        </nav>
    </header> -->



    <div id = 'container'>
	
	
	

    
    <div id="landing-header">
 		
 		<header id="jumbo" class="boxs" > 		
			
			<h1 id="welcome" class="boxs"> Welcome to South Park </h1>
			</header>
		<a id='btn' href='/southpark' class="boxs"> Meet some friends of mine </a>
    </div>
    
    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>





		</div>

    

	

	

<% include partials/footer %>

