<% include ../partials/header %>


<div class='container'>
	<header class='jumbotron'>
		<div class='container'>
			<h1>welcome to south park</h1>
			<a class="btn btn-primary btn-large" href='/'>Go back to index</a>
		</div>
			</header>
				<div class='row text-center' style='display:flex ; flex-wrap:wrap;'>		
			<% southpark.forEach(function(sp){ %>
				<div class='col-md-3 col-sm-6'>
					<div class='thumbnail'>
						<img src='<%= sp.image %>'>
						<div class='caption' style='text-align: center;'>
							<h4> <%= sp.name %></h4>
						</div>
						<p>
							<a  href="/southpark/<%= sp._id%>" class='btn btn-lg btn-primary'>More Info</a>
						</p>
					</div>
				</div>
			<% }) %>
					
				</div>
</div>

<a class='btn btn-lg btn-primary' href='/southpark/new'>Make some New Friends </a>

<% include ../partials/footer %>

